<IfModule mod_rewrite.c>
    # Ativa o motor de reescrita de URL
    RewriteEngine On

    # Redireciona a requisição para o index.php se o arquivo ou diretório solicitado não existir fisicamente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
</IfModule>